<div class="form-horizontal" role="form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	<div class="form-group">
		<h2 class="col-sm-offset-1">新規登録</h2>
	</div>
	<div class="field form-group">
    <%= f.label :name,:class => 'control-label col-sm-2' %>
		<div class="col-sm-5">
    	<%= f.text_field :name, autofocus: true,:class => 'form-control' %>
		</div>
	</div>
	<br>

	<div class="field form-group">
		<%= f.label :email ,:class => 'control-label col-sm-2' %>
		<div class="col-sm-5">
			<%= f.email_field :email, autofocus: true,:class => 'form-control' %>
		</div>
	</div>
	<br>

  <div class="field form-group">
    <%= f.label :password,:class => 'control-label col-sm-2' %>
		<div class="col-sm-5">
    	<%= f.password_field :password, autocomplete: "off" ,:class => 'form-control'%>
		</div>
		<br>
		<small class="form-text text-muted">
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %>
		</small>
  </div>
	<br>

  <div class="field form-group">
    <%= f.label :password_confirmation ,:class => 'control-label col-sm-2'%>
		<div class="col-sm-5">
    	<%= f.password_field :password_confirmation, autocomplete: "off",:class => 'form-control' %>
  	</div>
	</div>
	</div>
	<br>
  <div class="actions form-group">
    <%= f.submit "Sign up",:class => 'col-sm-offset-3 col-sm-3 btn btn-success' %>
  </div>
<% end %>
</form>
</div>

