
<p id="notice"><%= notice %></p>

<%= form_tag('search', :method => :get) do %>
	<div class="input-group">
		<input type="text" name="keyword" placeholder="タグまたは企業名" class="form-control">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-info">検索</button>
		</span>
	</div>
<% end %>
<h2>体験談の一覧</h2>
<% @posts.each do |post| %>
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title row">
			<div class="col-sm-8">
				<%= link_to '詳細を表示', post %>
			</div>
			<div class="col-sm-4">
				<strong>
					<%= link_to "#{post.user.name}", detail_posts_path(:user_id => post.user.id) %>
				</strong>さんの投稿
			</div>
		</h3>
	</div>
	<div class="panel-body">
		<%= simple_format(post.content) %>
	</div>
	<div class="row">
		<span class="col-sm-1 text-center">企業名:</span>
		<div class="col-sm-5">
			<%= render 'posts/tag_list' , tag_list: post.mycompany_list%>
		</div>
		<span class="col-sm-1 text-center">タグ:</span>
		<div class="col-sm-5">
			<%= render 'posts/tag_list' , tag_list: post.mytag_list%>
		</div>
	</div>
</div>
<% end %>
