<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">
			<strong><td><%= link_to "#{@post.user.name}", detail_posts_path(:user_id => @post.user.id) %></td></strong> さんの投稿
  		(ユーザID : <%= @post.user_id %>)
		</h3>
	<div class="panel-body">
		<%= @post.content %>
	</div>
</div>

<div align="right">
<% if current_user == @post.user %>
	<%= link_to '編集する', edit_post_path(@post), :class => "btn btn-info"%>
<% end %>
<%= link_to '戻る', posts_path, :class => "btn btn-default"%>
</div>
